<div class="experts">
  <div class="row">
    <div class="col-12">
      <div class="landing-pages__title">
        Descubre a los expertos más eficaces
      </div>
    </div>
    <div class="col-12">
      <div class="landing-pages__sub-title">
        Medimos el rendimiento judicial de los abogados en millones de casos
        reales y los posicionamos en rankings, por especialidad del derecho,
        según su
        <a class="highlighted" href="#">índice de rendimiento judicial</a> (IRJ)
      </div>
    </div>
    <div class="col-12">
      <div class="experts__lawyers-button">
        <button routerLink="/directorio" type="button" class="btn btn-secondary">
          Ir al directorio
        </button>
      </div>
    </div>
  </div>
</div>
