<div class="container">
<p><strong>POL&Iacute;TICA DE PRIVACIDAD</strong></p>
<p><span style="font-weight: 400;">E4LEGAL ANALYTICS S.L (en adelante </span><strong>EM&Eacute;RITA LEGAL</strong><span
      style="font-weight: 400;">) informa a los usuarios sobre su pol&iacute;tica respecto del tratamiento y
      protecci&oacute;n de los datos de car&aacute;cter personal que puedan ser recabados en la navegaci&oacute;n o
      contrataci&oacute;n de servicios a trav&eacute;s del Sitio Web.</span></p>
<p><span style="font-weight: 400;">EM&Eacute;RITA LEGAL garantiza el cumplimiento de lo previsto en la Ley
      Org&aacute;nica 15/1999, de 13 de diciembre, de Protecci&oacute;n de Datos de Car&aacute;cter Personal (LOPD), el
      Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016 (RGPD) y la Ley 34/2002, de
      11 de julio, de Servicios de la Sociedad de la Informaci&oacute;n y Comercio Electr&oacute;nico (LSSICE o LSSI).</span></p>
<p><strong>Recogida, finalidad y tratamiento de datos</strong></p>
<p><span style="font-weight: 400;">EM&Eacute;RITA LEGAL informa a los usuarios de la web acerca de la recogida de datos
      de car&aacute;cter personal que pueden llevarse a cabo por tel&eacute;fono o correo electr&oacute;nico o al
      cumplimentar los formularios incluidos en el Sitio Web. En este sentido EM&Eacute;RITA LEGAL ser&aacute;
      considerada como responsable de los datos recabados mediante los medios indicados y puestos en su conocimiento
      que ser&aacute;n utilizados con las siguientes finalidades:</span></p>
<p><span style="font-weight: 400;">-La atenci&oacute;n de solicitudes realizadas por los usuarios clientes o usuarios
      profesionales.</span></p>
<p><span style="font-weight: 400;">-La certificaci&oacute;n de la especialidad o especialidades, experiencia y tasa de
      &eacute;xito de los usuarios profesionales.</span></p>
<p><span style="font-weight: 400;">-La inclusi&oacute;n en la agenda de contactos de los usuarios y la inclusi&oacute;n
      en la red de los usuarios profesionales.</span></p>
<p><span style="font-weight: 400;">-Realizar encuestas de satisfacci&oacute;n y calidad sobre el servicio de
      EM&Eacute;RITA LEGAL.</span></p>
<p><span style="font-weight: 400;">-Prestar un servicio personalizado para poner en contacto a los potenciales clientes
      con usuarios profesionales y ofrecerles alternativas en caso de que el abogado o procurador inicialmente
      contactado no pueda atender el caso o al cliente le convenga que le atienda otro por motivos como la
      especialidad, proximidad, precio etc.</span></p>
<p><span style="font-weight: 400;">-Mantener informado, incluso por medios electr&oacute;nicos, acerca de las noticias
      y eventos relacionados con EM&Eacute;RITA LEGAL, as&iacute; como de los productos y servicios comercializados
      tanto por EM&Eacute;RITA LEGAL como por terceras entidades pertenecientes o dirigidas al sector jur&iacute;dico.</span></p>
<p><span style="font-weight: 400;">La recogida de datos dentro de la web de EM&Eacute;RITA LEGAL se lleva a cabo a
      trav&eacute;s de los siguientes formularios:</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">&ndash;</span><strong>Formulario de contacto: </strong><span style="font-weight: 400;">Se
      recoge el nombre y correo electr&oacute;nico a fin de poder dar respuesta a la consulta que el usuario plantea.
      Otra finalidad asociada a este formulario, es la de incluir, si el usuario lo decide, los datos en contacto en
      una lista de correo para recibir de forma peri&oacute;dica comunicaciones.</span></p>
<p><span style="font-weight: 400;">&ndash;</span><strong>Formulario de registro: </strong><span style="font-weight: 400;">Se
      recoge el nombre y el correo electr&oacute;nico con la finalidad de incluir al usuario en el sistema y poder
      prestar el servicio.Otra finalidad asociada a este formulario, es la de incluir, si el usuario lo decide, los
      datos en contacto en una lista de correo para recibir de forma peri&oacute;dica comunicaciones.</span></p>
<p><span style="font-weight: 400;">-</span><strong>Chat bot</strong><span style="font-weight: 400;">: se recoge nombre,
      correo electr&oacute;nico y tel&eacute;fono del usuario para la resoluci&oacute;n de consultas sobre la
      plataforma que pueda plantear en directo a un operador.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Seg&uacute;n lo dispuesto en el Reglamento General de Protecci&oacute;n de Datos de
      la UE, el usuario debe recibir informaci&oacute;n puntual y concreta del responsable del tratamiento y los usos y
      fines del mismo. Para ello, se recoge en este listado, las actividades de tratamiento que lleva a cabo el
      propietario de esta web:</span></p>
<h5><a [routerLink]="['contactos-web']">- Contactos web</a></h5>
<h5><a [routerLink]="['clientes-usuarios']">- Usuarios clientes y profesionales</a></h5>
<h5><a [routerLink]="['profesionales-personas-fisicas']">- Profesionales personas físicas</a></h5>
<h5><a [routerLink]="['provedores']">- Proveedores y terceros colaboradores</a> </h5>
<h5><a [routerLink]="['recurosos-humanos']">- Recursos Humanos</a></h5>
<br>
<p><strong>Comunicaci&oacute;n de informaci&oacute;n a terceros</strong></p>
<p><span style="font-weight: 400;">EM&Eacute;RITA LEGAL no comunicar&aacute; a terceros los datos personales de los
      usuarios, salvo que dicha cesi&oacute;n de datos est&eacute; amparada legalmente o cuando sea estrictamente
      necesaria para la gesti&oacute;n del servicio.</span></p>
<p><span style="font-weight: 400;">A fin de poder prestar el servicio, se realizar&aacute;n comunicaciones de datos de
      navegaci&oacute;n, ip y otros par&aacute;metros t&eacute;cnicos, a Google Analytics, Google, Inc., 1600
      Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos (&ldquo;Google&rdquo;).</span></p>
<p><strong>Derechos de los usuarios</strong></p>
<p><span style="font-weight: 400;">Los usuarios podr&aacute;n ejercitar sus derechos de acceso, rectificaci&oacute;n,
      cancelaci&oacute;n y oposici&oacute;n. Para hacer uso de estos derechos deber&aacute;n dirigirse a EM&Eacute;RITA
      LEGAL mediante comunicaci&oacute;n escrita, aportando documentaci&oacute;n que acredite su identidad (DNI o
      pasaporte) en las siguientes direcciones de correo electr&oacute;nico: </span><a href="mailto:info@emerita.legal"><span
         style="font-weight: 400;">clientes@emerita.legal</span></a><span style="font-weight: 400;"> (para usuarios
      clientes) y </span><a href="mailto:profesionales@emerita.legal"><span style="font-weight: 400;">profesionales@emerita.legal</span></a><span
      style="font-weight: 400;"> (para usuarios profesionales).</span></p>
<p><strong>Prohibici&oacute;n de registro para menores</strong></p>
<p><span style="font-weight: 400;">Los menores de trece a&ntilde;os no deben facilitar sus datos personales a
      EM&Eacute;RITA LEGAL sin el previo consentimiento de sus padres o tutores. </span></p>
<p><strong>Grabaci&oacute;n de llamadas</strong></p>
<p><span style="font-weight: 400;">Los usuarios saben y aceptan que, por motivos de control de calidad y gesti&oacute;n
      del servicio, EM&Eacute;RITA LEGAL podr&aacute; grabar las llamadas telef&oacute;nicas.</span></p>
<p><strong>Publicaci&oacute;n de opiniones</strong></p>
<p><span style="font-weight: 400;">Los usuarios saben y aceptan que, al publicar una opini&oacute;n, la imagen y el
      nombre de usuario de su perfil en la red social que hayan utilizado para autenticarse aparecer&aacute;n
      publicados junto a su opini&oacute;n en el sitio web. </span></p>
<p><span style="font-weight: 400;">La opini&oacute;n publicada es accesible a cualquier usuario que acceda al Sitio Web
      y quiera ver las opiniones realizadas.</span></p>
<p><span style="font-weight: 400;">Mientras la opini&oacute;n permanezca publicada EM&Eacute;RITA LEGAL
      conservar&aacute; internamente el email, la IP y el identificador de red social del usuario. </span></p>
<p><strong>Actualizaciones y cambios en la pol&iacute;tica de privacidad</strong></p>
<p><span style="font-weight: 400;">El propietario de este sitio web puede modificar esta Pol&iacute;tica de Privacidad
      en funci&oacute;n de exigencias legislativas, reglamentarias, o con la finalidad de adaptar dicha pol&iacute;tica
      a las instrucciones dictadas por la Agencia Espa&ntilde;ola de Protecci&oacute;n de Datos, por ello se aconseja a
      los Usuarios que la visiten peri&oacute;dicamente.</span></p>
<p><strong>Consentimiento expreso</strong></p>
<p><span style="font-weight: 400;">Como usuario, declara haber sido convenientemente informado sobre las
      pol&iacute;ticas de protecci&oacute;n de datos de este sitio web, aceptando y consintiendo el tratamiento de los
      mismos por parte del propietario del mismo, para las finalidades en esta pol&iacute;tica dispuestas.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Este documento fue actualizado por &uacute;ltima vez el 30 de noviembre de 2018.</span></p>
<p><br /><br /><br /></p>
</div>