.modal-90{
  width: 90%;
  max-width: 90%;
}
.title {
  margin-bottom: 30px;
  margin-top: 54px;
  font-size: 23px;
  font-weight: 600;
}
.text{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
}
.box-row.first .box{
  padding-top: 25px;
  padding-bottom: 23px;
}
.box-row .box{
  padding-bottom: 10px;
  border: solid 1px #e1e1e1;
  padding-top: 10px;
}
.box-row .box i.fa{
  font-size: 11px;
}
strong{
  color: black;
}
.box-row .box .value{
  font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #559680;
}
.box-row div:first-of-type{
  padding-top: 10px;
}