<div class="container">
   <p><strong>CONDICIONES GENERALES PARA USUARIOS PROFESIONALES</strong></p>
   <p><strong>(ABOGADOS Y PROCURADORES)</strong></p>
   <p>&nbsp;</p>
   <p><strong>Emerita.legal</strong><span style="font-weight: 400;"> es una </span><strong>directorio</strong><span
         style="font-weight: 400;"> de abogados y procuradores, en caso de que usted quiera unirse a</span><strong>
         emerita.legal</strong><span style="font-weight: 400;"> como abogado o procurador, por favor, lea este
         documento antes de realizar el registro, ya que realizando el registro entendemos que est&aacute; de acuerdo
         con estas normas de aplicaci&oacute;n y sus obligaciones.</span></p>
   <p><span style="font-weight: 400;">El documento consta de las siguientes Condiciones Generales, que rigen el acceso
         y la utilizaci&oacute;n del Sitio Web accesible a trav&eacute;s del nombre de dominio </span><strong>www.emerita.legal
      </strong><span style="font-weight: 400;">y sus subdominios (en adelante Sitio Web), as&iacute; como la
         contrataci&oacute;n a trav&eacute;s del mismo.</span></p>
   <p><span style="font-weight: 400;">La utilizaci&oacute;n del Sitio Web atribuye la condici&oacute;n de USUARIOS
         PROFESIONALES (en adelante &ldquo;ABOGADO o PROCURADOR&rdquo;) del Sitio WEB e implica la aceptaci&oacute;n de
         todos los t&eacute;rminos incluidos en estas Condiciones Generales. </span></p>
   <p><span style="font-weight: 400;">Cada vez que el ABOGADO o PROCURADOR acceda al Sitio Web debe leer las presentes
         Condiciones Generales, ya que tanto el Sitio Web como las condiciones pueden sufrir modificaciones.</span></p>
   <p><span style="font-weight: 400;">El titular del Sitio Web se reserva la facultad de realizar en cualquier momento
         y sin necesidad de preaviso cualquier actualizaci&oacute;n o modificaci&oacute;n de sus contenidos y servicios
         de las presentes Condiciones Generales y, en general, de cuantos elementos integran el dise&ntilde;o y
         configuraci&oacute;n del Sitio Web. </span></p>
   <p><span style="font-weight: 400;">Por medio de la aceptaci&oacute;n de las presentes Condiciones Generales, el
         ABOGADO o PROCURADOR manifiesta que ha le&iacute;do, entiende y comprende lo aqu&iacute; expuesto; que es una
         persona con capacidad suficiente para contratar; y que asume todas las obligaciones aqu&iacute; dispuestas.</span></p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <ul>
      <li><strong><strong>INFORMACI&Oacute;N GENERAL DEL SITIO WEB</strong></strong></li>
   </ul>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">TITULAR: E4LEGAL ANALYTICS SOCIEDAD LIMITADA (en adelante EM&Eacute;RITA LEGAL)</span></p>
   <p><span style="font-weight: 400;">DIRECCION: </span><span style="font-weight: 400;">Centro de Emprendemento
         Creativo de Galicia, sito en la Cidade da Cultura de Galicia, Monte Gai&aacute;s, s/n, 15707, Santiago de
         Compostela (A Coru&ntilde;a)</span></p>
   <p><span style="font-weight: 400;">CONTACTO: </span><a href="mailto:profesionales@emerita.legal"><span style="font-weight: 400;">profesionales@emerita.legal</span></a></p>
   <p><span style="font-weight: 400;">DATOS REGISTRALES: Registro Mercantil de Pontevedra, Tomo 4190, Libro 4190, Folio
         120, Hoja PO-61796, Inscripci&oacute;n 1&ordf;</span></p>
   <p><span style="font-weight: 400;">C.I.F: B70514831</span></p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <ul>
      <li><strong><strong>PROPIEDAD INDUSTRIAL &nbsp;E INTELECTUAL</strong></strong></li>
   </ul>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">EM&Eacute;RITA LEGAL, creadora del Sitio Web, es titular de todos los derechos de
         propiedad intelectual e industrial de su p&aacute;gina web, as&iacute; como de los elementos contenidos en la
         misma (a t&iacute;tulo enunciativo, im&aacute;genes, sonido, audio, v&iacute;deo, software o textos, marcas o
         logotipos, combinaciones de colores, estructura y dise&ntilde;o, selecci&oacute;n de materiales usados,
         programas de ordenador necesarios para su funcionamiento, acceso y uso, etc.).</span></p>
   <p><span style="font-weight: 400;">Todos los derechos reservados. En virtud de lo dispuesto en la Ley de Propiedad
         Intelectual, quedan expresamente prohibidas la reproducci&oacute;n, la distribuci&oacute;n, la
         transformaci&oacute;n y la comunicaci&oacute;n p&uacute;blica, incluida su modalidad de puesta a
         disposici&oacute;n, de la totalidad o parte de los contenidos de esta p&aacute;gina web, con fines
         comerciales, en cualquier soporte o por cualquier medio t&eacute;cnico, sin la autorizaci&oacute;n de
         EM&Eacute;RITA LEGAL creadora del Sitio Web.</span></p>
   <p><span style="font-weight: 400;">El ABOGADO o PROCURADOR se compromete a respetar los derechos de Propiedad
         Intelectual e Industrial titularidad de EM&Eacute;RITA LEGAL creadora del Sitio Web. Podr&aacute; visualizar
         los elementos del portal e incluso imprimirlos, copiarlos y almacenarlos en el disco duro de su ordenador o en
         cualquier otro soporte f&iacute;sico siempre y cuando sea, &uacute;nica y exclusivamente, para su uso personal
         y privado.</span></p>
   <p><span style="font-weight: 400;">El ABOGADO o PROCURADOR deber&aacute; abstenerse de suprimir, alterar, eludir o
         manipular cualquier dispositivo de protecci&oacute;n o sistema de seguridad que estuviera instalado en las
         p&aacute;ginas de EM&Eacute;RITA LEGAL, creadora del Sitio Web.</span></p>
   <p><span style="font-weight: 400;">El ABOGADO o PROCURADOR cede a EM&Eacute;RITA LEGAL, gratuitamente y en forma no
         exclusiva, todos los derechos de explotaci&oacute;n sobre textos, fotograf&iacute;as, gr&aacute;ficos,
         im&aacute;genes, logotipos, iconos y dem&aacute;s contenidos audiovisuales o sonoros que el ABOGADO o
         PROCURADOR publique o cuya publicaci&oacute;n autorice en el Sitio Web. &nbsp;Dicha cesi&oacute;n se
         entender&aacute; realizada para el &aacute;mbito territorial mundial, sin limitaci&oacute;n alguna.
         EM&Eacute;RITA LEGAL podr&aacute; explotar los derechos de reproducci&oacute;n, transformaci&oacute;n,
         distribuci&oacute;n y comunicaci&oacute;n p&uacute;blica de los contenidos en el sentido m&aacute;s amplio
         reconocido por dicha ley.</span></p>
   <p><span style="font-weight: 400;">El ABOGADO o PROCURADOR afirma disponer de todos los derechos de propiedad
         intelectual e industrial sobre dichos contenidos, se obliga a asumir toda reclamaci&oacute;n o
         responsabilidad, incluyendo indemnizaciones por da&ntilde;os y perjuicios, que cualquier tercero pueda
         ejercitar contra EM&Eacute;RITA LEGAL por considerar infringidos sus derechos por cualquiera de las acciones
         derivadas de las obligaciones que el ABOGADO o PROCURADOR contrae directa o indirectamente con estas
         Condiciones Generales. Adem&aacute;s el ABOGADO o PROCURADOR se obliga a mantener indemne a EM&Eacute;RITA
         LEGAL ante cualquier perjuicio que &eacute;l o un tercero puedan sufrir como consecuencia de la
         formalizaci&oacute;n de la cesi&oacute;n de derechos regulada en esta cl&aacute;usula.</span></p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <ul>
      <li><strong><strong>RESPONSABILIDAD POR LINKS EXTERNOS</strong></strong></li>
   </ul>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">En el caso de que en nombre del dominio se dispusiesen enlaces o
         hiperv&iacute;nculos hacia otros sitios de Internet, EM&Eacute;RITA LEGAL creadora del Sitio Web no
         ejercer&aacute; ning&uacute;n tipo de control sobre dichos sitios y contenidos. </span></p>
   <p><span style="font-weight: 400;">En ning&uacute;n caso EM&Eacute;RITA LEGAL creadora del Sitio Web asumir&aacute;
         responsabilidad alguna por los contenidos de alg&uacute;n enlace perteneciente a un sitio web ajeno ni
         garantizar&aacute; la disponibilidad t&eacute;cnica, calidad, fiabilidad, exactitud, amplitud, veracidad,
         validez y constitucionalidad de cualquier material o informaci&oacute;n contenida en ninguno de dichos
         hiperv&iacute;nculos u otros sitios de internet.</span></p>
   <p><span style="font-weight: 400;">Igualmente la inclusi&oacute;n de estas conexiones externas no implicar&aacute;
         ning&uacute;n tipo de asociaci&oacute;n, fusi&oacute;n o participaci&oacute;n con las entidades conectadas.</span></p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <ul>
      <li><strong><strong>C&Oacute;DIGO DE BUENAS CONDUCTAS</strong></strong></li>
   </ul>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">El ABOGADO o PROCURADOR se obliga a utilizar el Sitio Web y todo su contenido y
         servicios conforme a lo establecido en la ley, la moral, el orden p&uacute;blico y en las presentes
         Condiciones Generales, absteni&eacute;ndose de da&ntilde;ar, inutilizar, sobrecargar o deteriorar el Sitio Web
         y sus servicios o impedir la normal utilizaci&oacute;n o disfrute de &eacute;stos por parte de otros ABOGADOS
         o PROCURADORES o de terceros.</span></p>
   <p><span style="font-weight: 400;">Asimismo se obliga a hacer un uso adecuado de los servicios y contenidos del
         Sitio Web y a no emplearlos para realizar actividades il&iacute;citas o delictivas, que atenten contra los
         derechos de terceros y/o que infrinjan la normativa sobre propiedad intelectual e industrial, o cualesquiera
         otras normas del ordenamiento jur&iacute;dico aplicables.</span></p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <ul>
      <li><strong><strong>EXCLUSI&Oacute;N DE GARANT&Iacute;AS Y RESPONSABILIDAD</strong></strong></li>
   </ul>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">EM&Eacute;RITA LEGAL creadora del Sitio Web no se hace responsable, en
         ning&uacute;n caso, de los da&ntilde;os y perjuicios de cualquier naturaleza que pudieran ocasionar, a
         t&iacute;tulo enunciativo: errores u omisiones en los contenidos, falta de disponibilidad del portal o la
         transmisi&oacute;n de virus o programas maliciosos o lesivos en los contenidos, a pesar de haber adoptado
         todas las medidas tecnol&oacute;gicas necesarias para evitarlo.</span></p>
   <p><span style="font-weight: 400;">EM&Eacute;RITA LEGAL no se responsabiliza de los da&ntilde;os producidos en el
         software y equipos inform&aacute;ticos del ABOGADO o PROCURADOR o de terceros durante la utilizaci&oacute;n de
         los servicios ofrecidos en el Sitio Web, as&iacute; como tampoco de los da&ntilde;os o perjuicios de cualquier
         tipo producidos en el ABOGADO o PROCURADOR que traigan causa en fallos o desconexiones en las redes de
         telecomunicaciones que produzcan la suspensi&oacute;n, cancelaci&oacute;n o interrupci&oacute;n del servicio
         del Sitio Web durante la prestaci&oacute;n del mismo o con car&aacute;cter previo.</span></p>
   <p><span style="font-weight: 400;">EM&Eacute;RITA LEGAL garantiza la informaci&oacute;n relativa a la experiencia, a
         las especialidades y a las tasas de &eacute;xito del profesional en el Sitio web con datos extra&iacute;dos de
         las resoluciones judiciales analizadas, informaci&oacute;n que est&aacute; dentro del apartado
         &ldquo;estad&iacute;sticas&rdquo;; sin embargo no se hace responsable del resto de la informaci&oacute;n
         facilitada por el propio profesional. Adem&aacute;s, se advierte que la informaci&oacute;n facilitada
         representa una muestra estad&iacute;stica relativa a cada profesional y, por tanto, no es exhaustiva y no
         presupone la inexistencia de otras &aacute;reas de intervenci&oacute;n del profesional, que puede, por
         ejemplo, ejercer otras actividades, incluido el asesoramiento, adem&aacute;s de su posible actividad ante los
         tribunales.</span></p>
   <p><span style="font-weight: 400;">EM&Eacute;RITA LEGAL realiza todos los esfuerzos posibles para asegurar la
         exactitud de la informaci&oacute;n, pero debido a que existe una inmensa cantidad de datos detallados al
         compilar de diferentes fuentes de datos, y que los datos son obtenidos de fuentes no controladas por
         EM&Eacute;RITA LEGAL, &eacute;sta no asume responsabilidad alguna por errores, inexactitudes u omisiones de la
         informaci&oacute;n facilitada. En el caso de que se detecten errores e inexactitudes en las
         estad&iacute;sticas, la &uacute;nica obligaci&oacute;n de EM&Eacute;RITA LEGAL, previas las comprobaciones que
         estime oportunas, ser&aacute; la de introducir a su cargo las correcciones oportunas. </span></p>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">Excepto la obligaci&oacute;n de correcci&oacute;n a que se refiere el apartado
         anterior, EM&Eacute;RITA LEGAL no asume responsabilidad alguna por los errores u omisiones incluidos en las
         estad&iacute;sticas, y especialmente no responder&aacute; de los da&ntilde;os y perjuicios. A este respecto,
         las partes est&aacute;n de acuerdo en que las estad&iacute;sticas son uno m&aacute;s de los elementos que
         pueden tenerse en cuenta para adoptar decisiones en la contrataci&oacute;n de un profesional pero, estas
         decisiones no se basan exclusivamente en la informaci&oacute;n contenida en este apartado. Asimismo indicamos
         que la informaci&oacute;n proporcionada hace referencia &uacute;nicamente a las actividades empresariales o
         profesionales de las personas en ella incluidas y, por tanto, el usuario &uacute;nicamente podr&aacute;
         utilizar dicha informaci&oacute;n en el &aacute;mbito empresarial o profesional de la persona.</span></p>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">En caso de encontrar cualquier dato que pueda ser susceptible de revisi&oacute;n,
         por favor no dude en comunicarse con EM&Eacute;RITA LEGAL a trav&eacute;s del correo electr&oacute;nico
         profesionales@emerita.legal. </span></p>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">El ABOGADO o PROCURADOR se obliga a mantener indemne a EM&Eacute;RITA LEGAL ante
         cualquier posible reclamaci&oacute;n, multa, pena o sanci&oacute;n que pueda venir obligado a soportar como
         consecuencia del incumplimiento por parte del ABOGADO o PROCURADOR de cualquiera de sus obligaciones
         establecidas en estas Condiciones Generales, reserv&aacute;ndose EM&Eacute;RITA LEGAL el derecho a solicitar
         la indemnizaci&oacute;n por da&ntilde;os y perjuicios en caso de que corresponda.</span></p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <ul>
      <li><strong><strong>CLAVES DE ACCESO</strong></strong></li>
   </ul>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">El ABOGADO o PROCURADOR elegir&aacute; su propia clave de acceso (e-mail y
         contrase&ntilde;a). El &uacute;nico criterio empleado al efecto es la inexistencia de unas claves de acceso
         previas id&eacute;nticas a las elegidas por los otros usuarios, as&iacute; como un n&uacute;mero m&iacute;nimo
         de caracteres exigidos.</span></p>
   <p><span style="font-weight: 400;">El ABOGADO o PROCURADOR se compromete a hacer un uso diligente de las claves de
         acceso, a no ponerlas a disposici&oacute;n de terceros y a comunicar al EM&Eacute;RITA LEGAL la p&eacute;rdida
         o robo de las mismas, as&iacute; como cualquier riesgo de acceso a las mismas por parte de un tercero, a la
         mayor brevedad posible.</span></p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <ul>
      <li><strong><strong>DECLARACIONES DEL ABOGADO O PROCURADOR</strong></strong></li>
   </ul>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">Al aceptar el presente documento y cumplir con el proceso de registro por
         Internet usted declara y acepta lo siguiente:</span></p>
   <p>&nbsp;</p>
   <ol>
      <li style="font-weight: 400;"><span style="font-weight: 400;">Toda la informaci&oacute;n que usted facilita antes
            de registrarse en </span><strong>emerita.legal</strong><span style="font-weight: 400;">, as&iacute; como la
            que facilita al momento de registrarse o despu&eacute;s, se relaciona solamente con usted y es precisa,
            completa, no siendo de ning&uacute;n modo enga&ntilde;osa. Describe de manera precisa sus antecedentes,
            habilidades, conocimiento y nivel de experiencia (incluidos t&iacute;tulos profesionales, estudios, empleo,
            certificaciones&hellip;). No tergiversa su persona ni crea un nombre de &nbsp;usuario enga&ntilde;oso.</span></li>
   </ol>
   <p>&nbsp;</p>
   <ol>
      <li style="font-weight: 400;"><span style="font-weight: 400;">Mantendr&aacute; tal informaci&oacute;n y la
            actualizar&aacute; en un plazo inferior a veinticuatro horas despu&eacute;s de cualquier
            modificaci&oacute;n de manera que esta contin&uacute;e siendo aut&eacute;ntica, precisa y completa.</span></li>
   </ol>
   <p><span style="font-weight: 400;">Si alguna modificaci&oacute;n de esta informaci&oacute;n altera el estado de
         cualquiera de sus credenciales verificadas con el fin de ser ABOGADO o PROCURADOR en la Web o impide su
         permanencia en el directorio de </span><strong>emerita.legal</strong><span style="font-weight: 400;"> (por
         ejemplo, si un t&iacute;tulo vigente se suspendiera; si se iniciara un expediente disciplinario&hellip;)
         deber&aacute; notificar tal modificaci&oacute;n a la empresa mediante el env&iacute;o de un correo
         electr&oacute;nico a </span><a href="mailto:profesionales@emerita.legal"><span style="font-weight: 400;">profesionales@emerita.legal</span></a><span
         style="font-weight: 400;"> en un plazo inferior a veinticuatro horas despu&eacute;s de realizada la
         modificaci&oacute;n.</span></p>
   <p>&nbsp;</p>
   <ol>
      <li style="font-weight: 400;"><span style="font-weight: 400;">El ABOGADO o PROCURADOR solamente podr&aacute;
            figurar como especialista en las especialidades o subespecialidades del derecho que E4LEGAL ANALYTIC S.L le
            acredite. Las acreditaciones podr&aacute;n hacerse de oficio o a solicitud del ABOGADO o PROCURADOR, que
            podr&aacute; ser requerido para que aporte documentaci&oacute;n probatoria.</span></li>
   </ol>
   <p>&nbsp;</p>
   <ol>
      <li style="font-weight: 400;"><span style="font-weight: 400;">El ABOGADO o PROCURADOR debe ser licenciado en
            derecho y ha de estar colegiado como ejerciente en su respectivo Colegio Profesional.</span></li>
   </ol>
   <p>&nbsp;</p>
   <ol>
      <li style="font-weight: 400;"><span style="font-weight: 400;">No se podr&aacute;n llevar a cabo acciones que
            permitan manipular o alterar la integridad de ning&uacute;n cliente. Ni amenazar a ning&uacute;n otro
            usuario del Sitio Web.</span></li>
   </ol>
   <p>&nbsp;</p>
   <ol>
      <li style="font-weight: 400;"><span style="font-weight: 400;">Han de cumplirse todas las normas
            deontol&oacute;gicas del ejercicio de la profesi&oacute;n. Las faltas al c&oacute;digo deontol&oacute;gico
            podr&aacute;n ser sancionadas con la expulsi&oacute;n del ABOGADO o PROCURADOR del directorio </span><strong>emerita.legal</strong><span
            style="font-weight: 400;">.</span></li>
   </ol>
   <p><br /><br /></p>
   <p>&nbsp;</p>
   <ul>
      <li><strong><strong>EX&Aacute;MENES Y VERIFICACIONES</strong></strong></li>
   </ul>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">Como condici&oacute;n para ser o continuar siendo ABOGADO o PROCURADOR en </span><strong>emerita.legal</strong><span
         style="font-weight: 400;">, se le podr&aacute; solicitar y debe aceptar aprobar ex&aacute;menes sobre el
         contenido de las especialidades o subespecialidades acreditadas u otro tipo de ex&aacute;menes, y/o
         proporcionar documentaci&oacute;n informativa sobre usted (ejemplo resoluciones judiciales, antecedentes
         laborales, educaci&oacute;n y situaci&oacute;n, certificaciones&hellip;) seg&uacute;n lo solicite
         EM&Eacute;RITA LEGAL en cualquier momento.</span></p>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">En tal caso autoriza a EM&Eacute;RITA LEGAL a divulgar informaci&oacute;n a
         terceros con el fin de verificar tal informaci&oacute;n (si es que se decide realizar tal verificaci&oacute;n
         o se solicita que la realice un tercero, a lo cual EM&Eacute;RITA LEGAL no est&aacute; obligada) o con el fin
         de cumplir con las leyes.</span></p>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">Ni la aceptaci&oacute;n para someterse a la verificaci&oacute;n ni la
         aprobaci&oacute;n de ex&aacute;menes crean ning&uacute;n tipo de derecho al ABOGADO o PROCURADOR para
         continuar figurando en el Sitio Web.</span></p>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">EM&Eacute;RITA LEGAL podr&aacute; expulsar o suspender de la red </span><strong>emerita.legal</strong><span
         style="font-weight: 400;"> al ABOGADO o PROCURADOR en cualquier momento, sin previo aviso, con o sin motivo, y
         a su exclusivo criterio.</span></p>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">Asimismo el ABOGADO o PROCURADOR podr&aacute; darse de baja el servicio en
         cualquier momento sin que exista plazo de permanencia.</span></p>
   <p><br /><br /></p>
   <p>&nbsp;</p>
   <ul>
      <li><strong><strong>SERVICIO GRATUITO CON COMISIONES POR CONSULTAS ONLINE </strong></strong></li>
   </ul>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">Tanto el acceso como la permanencia en el directorio </span><strong>emerita.legal</strong><span
         style="font-weight: 400;"> es gratuito. Cuando el ABOGADO se registra accede autom&aacute;ticamente al plan
         gratuito (Fremium) denominado &ldquo;Comunidad legal&rdquo; o &ldquo;Red expertia&rdquo;, seg&uacute;n
         corresponda, que incluye las funcionalidades especificadas en el Sitio web.</span></p>
   <p><span style="font-weight: 400;">El servicio de consultas online es voluntario. El ABOGADO podr&aacute; darse de
         alta y de baja en el servicio cuando lo desee. EM&Eacute;RITA LEGAL &uacute;nicamente facturar&aacute; al
         ABOGADO una comisi&oacute;n del 20% en caso de que un cliente le realice una consulta online a trav&eacute;s
         del Sitio Web y decida, previo pago, destapar su respuesta legal a medida con o sin presupuesto, seg&uacute;n
         haya estimado oportuno el ABOGADO.</span></p>
   <p><span style="font-weight: 400;">El ABOGADO establece libremente sus honorarios y el coste de la respuesta legal
         lo fijar&aacute; en el momento del env&iacute;o de la misma, indicando si se corresponde a una consulta
         simple, compleja o muy compleja, pues habr&aacute; fijado previamente los costes de &eacute;stas. Las tarifas
         fijadas por el ABOGADO estar&aacute;n visibles dentro de su perfil en el Sitio Web, a lo que autoriza
         expresamente el ABOGADO.</span></p>
   <p><span style="font-weight: 400;">EM&Eacute;RITA LEGAL expedir&aacute; las facturas por las respuestas legales
         destapadas en nombre y a cuenta del ABOGADO, a lo que autoriza expresamente el ABOGADO. Se entender&aacute;
         que el ABOGADO se muestra conforme con la factura en caso de que no manifieste lo contrario en el plazo
         veinticuatro horas a contar desde que se le pone a su disposici&oacute;n en su &aacute;rea de
         facturaci&oacute;n. </span></p>
   <p><span style="font-weight: 400;">EM&Eacute;RITA LEGAL transferir&aacute; los importes abonados por los clientes al
         ABOGADO descontando sus comisiones correspondientes a finales de cada mes, a trav&eacute;s de una
         transferencia a la cuenta bancaria del ABOGADO.</span></p>
   <p><span style="font-weight: 400;">El ABOGADO acepta el hecho de que EM&Eacute;RITA LEGAL tiene derecho a atender
         quejas de clientes seg&uacute;n considere necesario.</span></p>
   <p><span style="font-weight: 400;">El ABOGADO podr&aacute; contratar en cualquier momento alguno de los planes de
         precios disponibles para disfrutar de funcionalidades premium. Los planes de precios disponibles est&aacute;n
         publicados en el Sitio web, donde se especifican las funcionalidades inclu&iacute;das y su coste. El ABOGADO
         podr&aacute; optar por una suscripci&oacute;n mensual o semestral, que consistir&aacute; en un pago
         &uacute;nico.</span></p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <ul>
      <li><strong><strong>CUENTA DE ABOGADO O PROCURADOR Y RELACI&Oacute;N CON EM&Eacute;RITA LEGAL</strong></strong></li>
   </ul>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">El ABOGADO o PROCURADOR no puede compartir su cuenta con ninguna otra persona, ni
         tampoco usar la cuenta de otra persona. El ABOGADO o PROCURADOR ser&aacute; plena y exclusivamente responsable
         de toda actividad que se suministre con su nombre de usuario y contrase&ntilde;a. </span></p>
   <p><span style="font-weight: 400;">Si su cuenta en </span><strong>emerita.legal</strong><span style="font-weight: 400;">
         se suspende o cierra, no podr&aacute; abrir otra cuenta en el Sitio Web.</span></p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <ul>
      <li><strong><strong>OTROS ACUERDOS</strong></strong></li>
   </ul>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">Al aceptar el presente documento y cumplir con el proceso de registro en Internet
         el ABOGADO o PROCURADOR acepta lo siguiente:</span></p>
   <ol>
      <li style="font-weight: 400;"><span style="font-weight: 400;">No realizar&aacute; ning&uacute;n tipo de
            declaraci&oacute;n que desprestigie a EM&Eacute;RITA LEGAL, ni a emerita.legal, sus servicios, productos,
            directivos, ejecutivos, empleados, accionistas, agentes, usuarios de la web, ni en la propia web ni en
            ning&uacute;n lugar fuera de la web, a excepci&oacute;n de lo que exija la ley o en comunicaciones que sean
            exclusivamente para EM&Eacute;RITA LEGAL.</span></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">No suministrar&aacute; informaci&oacute;n sobre
            EM&Eacute;RITA LEGAL o emerita.legal en ning&uacute;n otro Sitio Web, a menos que usted manifieste
            expresamente que sus declaraciones no se realizan en nuestro nombre ni cuentan con nuestra
            aprobaci&oacute;n.</span></li>
   </ol>
   <p><br /><br /></p>
   <p>&nbsp;</p>
   <ul>
      <li><strong><strong>CONFIDENCIALIDAD</strong></strong></li>
   </ul>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">Los datos referidos al cliente y/o a su asunto que se &nbsp;faciliten al ABOGADO
         o PROCURADOR por EM&Eacute;RITA LEGAL, o bien por el propio cliente a trav&eacute;s del Sitio Web, son
         Informaci&oacute;n Confidencial.</span></p>
   <p><span style="font-weight: 400;">El ABOGADO o PROCURADOR mantendr&aacute; la confidencialidad de toda la
         informaci&oacute;n confidencial, utilizando dicha informaci&oacute;n de forma reservada y s&oacute;lo en
         relaci&oacute;n con sus actividades leg&iacute;timas. </span></p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <ul>
      <li><strong><strong>RESTRICCIONES DEL SERVICIO</strong></strong></li>
   </ul>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">En cualquier momento y sin previo aviso, con o sin motivo alguno, y a su
         exclusivo criterio, EM&Eacute;RITA LEGAL se reserva el derecho a negarle el servicio a cualquier persona, o de
         imponer restricciones a su cuenta o a los privilegios de cuenta.</span></p>
   <p><span style="font-weight: 400;">Asimismo, en cualquier momento, sin aviso previo, con o sin motivo, y a su
         exclusivo criterio, EM&Eacute;RITA LEGAL se reserva el derecho de modificar o interrumpir todo el servicio o
         parte de este. </span></p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <ul>
      <li><strong><strong>INDEMNIZACI&Oacute;N</strong></strong></li>
   </ul>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">El ABOGADO o PROCURADOR acepta que nos mantendr&aacute; indemnes con respecto a
         todo coste, p&eacute;rdida, obligaci&oacute;n y gasto, incluidos honorarios de abogado o procurador, que
         reclame cualquier tercero y que de alg&uacute;n modo se deba al uso o surja del uso que usted ha hecho del
         Sitio Web o del comportamiento que usted haya tenido en el Sitio Web, reserv&aacute;ndose EM&Eacute;RITA LEGAL
         el derecho a solicitar una indemnizaci&oacute;n por da&ntilde;os y perjuicios en caso de que corresponda.</span></p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <ul>
      <li><strong><strong>NULIDAD E INEFICACIA DE LAS CL&Aacute;USULAS</strong></strong></li>
   </ul>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">Si cualquier cl&aacute;usula incluida en las presentes Condiciones Generales
         fuese declarada total o parcialmente nula o ineficaz, tal nulidad o ineficacia s&oacute;lo afectar&aacute; a
         dicha disposici&oacute;n o a la parte de la misma, subsistiendo las presentes Condiciones Generales en todo lo
         dem&aacute;s, consider&aacute;ndose tal disposici&oacute;n total o parcialmente no incluida.</span></p>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <ul>
      <li><strong><strong>LEGISLACI&Oacute;N APLICABLE Y JURISDICCI&Oacute;N COMPETENTE</strong></strong></li>
   </ul>
   <p>&nbsp;</p>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">Cualquier aspecto relacionado con las presentes Condiciones Generales y este
         Sitio Web, quedar&aacute; sujeto a la legislaci&oacute;n espa&ntilde;ola y a los Juzgados y Tribunales de
         Santiago de Compostela (Espa&ntilde;a).</span></p>
</div>