<div class="hero container">
    <div class="row">
        <div class="col-12">
            <div class="hero__title">
                Tu referencia objetiva en el sector legal
            </div>
        </div>
        <div class="col-12">
            <div class="hero__sub-title">
                Abogados certificados con datos reales
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="hero__search-holder"><app-buscador></app-buscador></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-sm-flex">
            <div class="hero__box-info">
                <div class="hero__statistic_title">2.053.226</div>
                <div class="hero__statistic_sub-title">
                    Resoluciones judiciales analizadas
                </div>
            </div>
            <div class="hero__box-info">
                <div class="hero__statistic_title">96.253</div>
                <div class="hero__statistic_sub-title">Abogados analizados</div>
            </div>
            <div class="hero__box-info">
                <div class="hero__statistic_title">55</div>
                <div class="hero__statistic_sub-title">Especialidades</div>
            </div>
        </div>
    </div>
</div>
