<router-outlet></router-outlet>
<div class="main-content">
  <app-hero></app-hero>
  <app-features></app-features>
  <app-experts></app-experts>
  <app-quality-data></app-quality-data>
  <app-about-us></app-about-us>
  <div class="landing-page__support-by">
    <div class="landing-page__support-by__title">Proyecto apoyado por</div>
    <div class="landing-page__support-by__img--holder">
      <div class="landing-page__support-by__img"></div>
      <div class="landing-page__support-by__img"></div>
      <div class="landing-page__support-by__img"></div>
      <div class="landing-page__support-by__img"></div>
    </div>
  </div>
</div>

<div id="modal-derechos" class="modal fade" role="dialog">
  <app-modal-derechos></app-modal-derechos>
</div>
