<!-- <header *ngIf="showNav" class="topbar"> -->
<header id="topbar" class="topbar">
   <nav class="navbar top-navbar navbar-toggleable-sm navbar-light" [class.topbar-landing]="!showNav"
      [class.topbar-abogado]="user && user.tipo !== 1">

      <!-- ============================================================== -->
      <!-- Logo -->
      <!-- ============================================================== -->
      <div [class.navbar-header-meu]="showNav" class="el-navbar-brand">
         <a *ngIf="showToggleSidebar && user && user.tipo !== 1" href="javascript:;" class="navbar-brand sidebar-toggle"
            (click)="clickSidebar()" data-toggle="collapse">
            <img class="sidebar-toggle-icon" src="assets/images/icons/burger2.svg" alt="M">
         </a>
         <a class="navbar-brand" [routerLink]='["/"]'>
            <!-- Logo icon -->
            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
            <!-- Dark Logo icon -->
            <img src="assets/images/icono.png" class="light-logo logo" alt="homepage" />
            <!-- <img src="assets/images/e.png" class="light-logo hidden-sm-up logo" alt="homepage" /> -->
            <!-- Light Logo icon -->
         </a>
      </div>
      <div class="el-navbar-menu">
         <!-- ============================================================= -->
         <!-- MENU -->
         <!-- ============================================================== -->
         <ul class="navbar-nav mr-auto mt-md-0">
            <!-- ============================================================= -->
            <!-- Search -->
            <!-- ============================================================== -->
            <!-- <div *ngIf="titlePage" class="titlePages" [@visibilityChanged]="v">
          <a (click)="goBack()"><i class="mdi mdi-arrow-left action-icons"></i></a> <span class="title-text align-text-bottom hidden-sm-down">{{titlePage}}</span>
        </div> -->
            <!--<li *ngIf="url == 'search'" class="nav-item search-caja" [class.search-caja-full-width]="isFocusSearchInput && screenWidth < MDSize" [class.search-caja-medium-width]="isFocusSearchInput && screenWidth > MDSize">
        <a *ngIf="!isFocusSearchInput" id="search-icon" (click)="focusSearchInput(true)" class="text-muted"><i class="ti-search"></i></a>
        <button *ngIf="isFocusSearchInput" (click)="focusSearchInput(false)" class="btn-atras" type="button" name="cerrar"><i class="mdi mdi-arrow-left"></i></button>
        <form (ngSubmit)="onSubmit()" class="app-search">
          <div [class.s-c-focus]="isFocusSearchInput" class="search-container input-group">
            <input (focus)="focusSearchInput(true)" (focusout)="focusSearchInput(false);" class="search-input" type="text" placeholder="Busca a un abogado" [resultFormatter]="formatter" (selectItem)="onSelected($event)" [inputFormatter]="formatterInput" [focusFirst]="false"
              type="text" [(ngModel)]="searchTerm" name="searchTerm" [ngbTypeahead]="searchUser">
          </div>
        </form>
      </li> -->
         </ul>
         <ul class="navbar-nav mt-md-0 el-navbar-menu-links" *ngIf="!isLoggedIn || (user && user.tipo === 1)">
            <li class="menu ml-3 mr-3">
               <a [routerLink]="['/directorio']" 
                  routerLinkActive="router-link-active">Directorio</a>
            </li>
            <li class="menu ml-3 mr-3">
               <a routerLink="/metodologia" routerLinkActive="router-link-active">Metodología | IRJ</a></li>
            <li class="menu ml-3 mr-3">
               <a routerLink="/soy-abogado" routerLinkActive="router-link-active">Soy abogado</a></li>
            <li class="menu ml-3 mr-3">
               <a routerLink="/nosotros" routerLinkActive="router-link-active">Nosotros</a></li>
            <li class="menu ml-3 mr-2">
               <a href="https://www.emerita.legal/blog" target="_blank">Blog</a>
            </li>
            <li class="menu ml-3 mr-3 el-menu-b-r"></li>
         </ul>
         <ul class=" navbar-nav my-lg-0 el-navbar-menu-user">

            <li *ngIf="isLoggedIn && user && user.tipo !== 1" class="nav-item dropdown el-dropdown-menu el-dropdown-menu-comunidad">
               <a href="javascript:;" class="el-dropdown-menu-comunidad">Comunidad legal</a>
            </li>

            <li *ngIf="isLoggedIn && user && user.tipo !== 1" class="nav-item dropdown el-dropdown-menu el-dropdown-menu-actualizar">
               <a routerLink="/proximamente" class="">Actualizar</a>
            </li>
            <!-- ============================================================== -->
            <!-- Shopping Car -->
            <!-- ============================================================== -->
            <li class="nav-item dropdown el-dropdown-menu">
               <a routerLink="/cart" class="nav-link text-muted waves-effect waves-dark el-dropdown-menu-link">
                  <img src="assets/images/icons/cart-icon.svg" alt="Carrito" class="el-dropdown-menu-img">
                  <span *ngIf="products.length > 0" class="badge badge-light notify">{{products.length}}</span>
               </a>
            </li>

            <!-- ============================================================== -->
            <!-- Messages -->
            <!-- ============================================================== -->
            <li *ngIf="isLoggedIn" class="nav-item dropdown el-dropdown-menu">
               <a routerLink="/inbox/conversaciones/" class="nav-link text-muted waves-effect waves-dark el-dropdown-menu-link" id="2" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true">
                  <span class="el-dropdown-menu-span">
                     <img src="assets/images/icons/message-icon.svg" alt="Mensajes" class="el-dropdown-menu-img">
                     <span *ngIf="conversationsUnread > 0" class="badge badge-light notify">{{conversationsUnread}}</span>
                  </span>
                  <div *ngIf="notify" class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
               </a>
               <div class="dropdown-menu mailbox dropdown-menu-right scale-up" aria-labelledby="2">
                  <ul>
                     <li>
                        <div class="drop-title">
                           Mensajes
                        </div>
                     </li>
                     <li>
                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;">
                           <div class="message-center" style="overflow: auto; width: auto; height: 250px;">
                              <a *ngFor="let c of conversations | slice:0:4">
                                 <div *ngIf="c.Usuarios && c.Usuarios[0]" style="display: flex;align-items: center;">
                                    <div *ngIf="(c.Usuarios && c.Usuarios.length > 0  && c.Usuarios[0].foto)" class="user-img">
                                       <img style="height: 40px; width: 40px;" class="round" src="assets/images/profiles/{{c.Usuarios[0].foto}}"
                                          alt="user"></div>
                                    <div *ngIf="!(c.Usuarios && c.Usuarios.length > 0  && c.Usuarios[0].foto)" class="user-img">
                                       <span style="height: 40px; width: 40px;" class="round d-flex justify-content-center align-items-center">{{c.Usuarios[0].nombre
                                          | slice:0:1}}</span> </div>
                                    <div class="mail-contnet" [routerLink]="['inbox', 'conversaciones', c.id]">
                                       <h5 class="d-flex" [class.bold]="!c.visto">{{c.Usuarios[0].nombre }}
                                          {{c.Usuarios[0].apellidos }} <i *ngIf="!c.visto" class="colorprimary mdi mdi-checkbox-blank-circle"></i></h5>
                                       <span [class.bold]="!c.visto" class="mail-desc">{{c.asunto}}</span> <span class="time">{{c.updatedAt
                                          | date}}</span>
                                    </div>
                                 </div>
                              </a>
                           </div>
                           <div class="slimScrollBar" style="background: rgb(220, 220, 220); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 183.824px;"></div>
                           <div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                        </div>
                     </li>
                     <li>
                        <a [routerLink]="['inbox']" class="nav-link text-center"> <strong>Ver todos los mensajes</strong>
                           <i class="fa fa-angle-right"></i> </a>
                     </li>
                  </ul>
               </div>
            </li> 
            <li *ngIf="isLoggedIn && user && user.tipo !== 1" class="nav-item dropdown el-dropdown-menu ml-3 mr-3 el-dropdown-menu-separetor">
               <span class="el-menu-b-r"></span>
            </li>
            <!-- ============================================================== -->
            <!-- Profile -->
            <!-- ============================================================== -->
            <li (clickOutside)="closeDropdownMenu()" *ngIf="isLoggedIn && user" class="nav-item dropdown el-dropdown-menu el-dropdown-menu-black"
               [ngClass]="{'show': !showDropdownMenu, 'el-dropdown-menu-user': user && user.tipo === 1}">
               <a class="nav-link text-muted waves-effect waves-dark el-dropdown-menu-link" (click)="showDropdownMenu = !showDropdownMenu"
                  [attr.aria-expanded]="!showDropdownMenu" aria-controls="dropdownMenu" [ngClass]="{'el-dropdown-menu-link-a': user && user.tipo !== 1}">
                  <div *ngIf="user && user.tipo !== 1 && user.foto" class="el-dropdown-profile-img" [ngStyle]="{'background-size': 'cover', 'background-image':'url(assets/images/profiles/' + user.foto + ')'}"></div>
                  <div *ngIf="user && user.tipo !== 1 && !user.foto" class="el-dropdown-profile-img" [ngStyle]="{'background-size': 'cover', 'background-image':'url(assets/images/profiles/default.png)'}"></div>
                  <h4 *ngIf="user && user.tipo !== 1" class="el-topbar-abogado-title">{{user.nombre}}</h4>
                  <span *ngIf="user && user.tipo === 1" class="el-dropdown-menu-span-black">
                     <img src="assets/images/icons/user-icon.svg" alt="Perfil" class="el-dropdown-menu-img">
                  </span>
                  <span *ngIf="user && user.tipo !== 1" class="el-dropdown-menu-span-a">
                  </span>
                  <span class="el-dropdown-menu-span-movil">
                     <img src="assets/images/icons/menu.svg" alt="Menú" class="el-dropdown-menu-movil-img">
                  </span>
               </a>
               <div id="dropdownMenu" [collapse]="showDropdownMenu" class="dropdown-menu dropdown-menu-right dropdown-menu-black scale-up">
                  <div class="el-dropdown-profile" [class.el-dropdown-profile-user]="user && user.tipo === 1">
                     <div *ngIf="user.foto" class="el-dropdown-profile-img" [ngStyle]="{'background-size': 'cover', 'background-image':'url(assets/images/profiles/' + user.foto + ')'}"></div>
                     <div *ngIf="!user.foto" class="el-dropdown-profile-img" [ngStyle]="{'background-size': 'cover', 'background-image':'url(assets/images/profiles/default.png)'}"></div>
                     <h4 class="el-dropdown-profile-title">{{user.nombre}}</h4>
                     <!-- <div class="u-text">
                <p class="text-muted">{{user.email}}</p>
              </div> -->
                     <span class="el-dropdown-profile-close" (click)="showDropdownMenu = true;">
                        <img src="assets/images/icons/x.svg" class="">
                     </span>
                  </div>
                  <ul class="el-dropdown-list">
                     <li *ngIf="user && (user.tipo === 0 || user.tipo === 2)">
                        <a href="javascript:;" class="" (click)="irProfesional(); showDropdownMenu = true;">
                           <img src="assets/images/icons/grid.svg" alt="Mi Dashboard"><span> Mi Dashboard</span>
                        </a>
                     </li>
                     <!-- <li *ngIf="user.tipo === 0 || user.tipo === 2">
                <a [routerLink]="['sentences']">
                    <img src="assets/images/icons/ajustes-icon.svg" alt="Resoluciones indexadas"><span> Resoluciones indexadas</span>
                </a>
              </li> -->
                     <li>
                        <a routerLinkActive="el-active" [routerLink]="['accountsettings']" (click)="showDropdownMenu = true;">
                           <img src="assets/images/icons/ajustes-icon.svg" alt="Mi Perfil"><span> Mi Cuenta</span>
                        </a>
                     </li>
                     <li *ngIf="user && (user.tipo === 0 || user.tipo === 2)">
                        <a routerLink="/proximamente" (click)="showDropdownMenu = true;">
                           <img src="assets/images/icons/bookmark.svg" alt="Suscripción"><span> Suscripción</span>
                           <small>Comunidad legal</small>
                        </a>
                     </li>
                     <li *ngIf="user && user.tipo === 1">
                        <a routerLinkActive="el-active" [routerLink]="['mis-abogados']" (click)="showDropdownMenu = true;">
                           <img src="assets/images/icons/abogado-icon.svg" alt="Mis abogados"><span> Mis abogados</span>
                        </a>
                     </li>
                     <li *ngIf="user && user.tipo === 1">
                        <a routerLinkActive="el-active" [routerLink]="['/payments']" (click)="showDropdownMenu = true;">
                           <img src="assets/images/icons/facturas-icon.svg" alt="Facturas"><span> Facturas</span>
                        </a>
                     </li>
                     <li class="el-dropdown-list-logout">
                        <a [routerLink]="['/']" (click)="logout()" (click)="showDropdownMenu = true;">
                           <img src="assets/images/icons/log-out.svg" alt="Cerrar sesión">
                           <span> Cerrar sesión</span>
                        </a>
                     </li>
                  </ul>
                  <ul *ngIf="user && user.tipo === 1" class="el-dropdown-list el-dropdown-list2">
                     <li>
                        <a [routerLink]="['/directorio']" 
                           routerLinkActive="router-link-active" (click)="showDropdownMenu = true;">
                           <span>Directorio</span>
                        </a>
                     </li>
                     <li>
                        <a [routerLink]="['/metodologia']" routerLinkActive="router-link-active" (click)="showDropdownMenu = true;">
                           <span>Metodología | IRJ</span>
                        </a>
                     </li>
                     <li>
                        <a [routerLink]="['/soy-abogado']" routerLinkActive="router-link-active" (click)="showDropdownMenu = true;">
                           <span>Soy abogado</span>
                        </a>
                     </li>
                     <li>
                        <a [routerLink]="['/nosotros']" routerLinkActive="router-link-active" (click)="showDropdownMenu = true;">
                           <span>Nosotros</span>
                        </a>
                     </li>
                     <li>
                        <a href="https://www.emerita.legal/blog" target="_blank" (click)="showDropdownMenu = true;">
                           <span>Blog</span>
                        </a>
                     </li>
                  </ul>
               </div>
            </li>
         </ul>
         <ul class="navbar-nav el-navbar-menu-login" *ngIf="!isLoggedIn">
            <li class="nav-item">
               <a class="nav-link el-navbar-link-login" (click)="goToLogin()">Iniciar Sesión</a>
            </li>
         </ul>
         <div (clickOutside)="closeDropdownMenuNoLogin()" class="el-top-navbar-nologin" *ngIf="!isLoggedIn">
            <a href="javascript:;" class="sidebar-toggle-nologin" (click)="showDropdownMenuNoLogin = !showDropdownMenuNoLogin"
               [attr.aria-expanded]="!showDropdownMenu" aria-controls="dropdownMenu">
               <img class="sidebar-toggle-icon-nologin" src="assets/images/icons/menu.png" srcset="assets/images/icons/menu@2x.png 2x,assets/images/icons/menu@3x.png 3x">
            </a>
            <div class="dropdown-menu" [collapse]="showDropdownMenuNoLogin">
               <ul class="el-dropdown-list">
                  <li>
                     <span class="el-dropdown-profile-close text-right" (click)="showDropdownMenuNoLogin = true;">
                        <img src="assets/images/icons/x.svg" class="">
                     </span>
                  </li>
                  <li>
                     <a [routerLink]="['/directorio']" 
                        routerLinkActive="router-link-active" (click)="showDropdownMenuNoLogin = true;">
                        <span>Directorio</span>
                     </a>
                  </li>
                  <li>
                     <a [routerLink]="['/metodologia']" routerLinkActive="router-link-active" (click)="showDropdownMenuNoLogin = true;">
                        <span>Metodología | IRJ</span>
                     </a>
                  </li>
                  <li>
                     <a [routerLink]="['/soy-abogado']" routerLinkActive="router-link-active" (click)="showDropdownMenuNoLogin = true;">
                        <span>Soy abogado</span>
                     </a>
                  </li>
                  <li>
                     <a [routerLink]="['/nosotros']" routerLinkActive="router-link-active" (click)="showDropdownMenuNoLogin = true;">
                        <span>Nosotros</span>
                     </a>
                  </li>
                  <li>
                     <a href="https://www.emerita.legal/blog" target="_blank" (click)="showDropdownMenuNoLogin = true;">
                        <span>Blog</span>
                     </a>
                  </li>
                  <li>
                     <!-- <a [routerLink]="['/directorio']" routerLinkActive="router-link-active" (click)="showDropdownMenuNoLogin = true;">
                <span>Iniciar Sesión</span>
              </a> -->
                     <a class="nav-link el-navbar-link-login text-center" (click)="goToLogin(); showDropdownMenuNoLogin = true;">Iniciar
                        Sesión</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </nav>
</header>