<div class="modal-body">
  <div class="container">
    <div class="d-flex align-items-baseline">
      <h3>Transacción exitosa</h3>
      <i style="font-size: 1.5em; color: green" class="mdi mdi-check-circle"></i>
    </div>
    <div class="">
      <small>Tu pago ha quedado registrado y tienes la factura a tu disposición en el apartado de facturación.</small>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button (click)="irARespuesta()" type="button" class="btn btn-primary"><span>Ver Respuesta</span> </button>
</div>
