<div class="quality-data">
   <div class="row">
      <div class="col-12 col-lg-6">
         <div class="row">
            <div class="col-12">
               <div class="landing-pages__title">
                  Demuestra la calidad de tu trayectoria con datos
               </div>
            </div>
            <div class="col-12">
               <div class="landing-pages__sub-title">
                  Destaca y posiciónate por tu experiencia gracias al
                  <a href="#" class="highlighted">índice de rendimiento judicial</a>
                  (IRJ) que evalúa de forma objetiva tu trayectoria judicial por
                  especialidades. En Emérita Legal
                  <b>el posicionamiento no se compra, se gana.</b>
               </div>
            </div>
            <div class="col-12">
               <div class="quality-data__irj-button">
                     <div class="button-bg"></div>
                  <button routerLink="/aca" type="button" class="btn btn-primary text-uppercase">
                     Descubre tu irj
                  </button>
               </div>
            </div>
         </div>
      </div>
      <div class="col-12 col-lg-6 d-lg-flex align-items-lg-center">
         <div class="quality-data__img-holder">
            <img title="Ranking abogados" src="/assets/images/landing/features/quality-data.png" alt="Mejores abogados Emérita" />
         </div>
      </div>
   </div>
</div>