<div class="modal-dialog">
   <!-- Modal content -->
   <div class="modal-content">
      <div class="modal-header">
         <h4 class="modal-title">Editar Formación</h4>
         <button type="button" class="close pull-right" data-dismiss="modal">
            <i class="material-icons">close</i>
         </button>
      </div>
      <div class="modal-body">
         <app-formation-form 
         (onValidityChange)="isValid = $event" 
         (onDataChange)="item = $event"
         [onInitialFormation]="onSelectItem">
         </app-formation-form>
      </div>
      <div class="modal-footer">
         <app-button-loader [showLoading]="reqInProg" [text]="'Editar'"
          [disabled]="!isValid" (emitClicked)="editEducacion()"></app-button-loader>
      </div>
   </div>
</div>