.recover-password {
  background-color: #f5f7f8;
  color: #0f1820;
  padding: 70px 0;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  overflow: hidden;
}

.recover-password__white-box {
  width: 100%;
  max-width: 800px;
  margin: 30px 0;
  padding: 30px 20px 49px;
  border-radius: 2px;
  box-shadow: 2px 4px 6px 0 rgba(152, 171, 180, 0.06);
  background-color: #ffffff;
}

.login-signup__title {
  line-height: 0.9 !important;
}

.recover-password__form--holder {
  margin: 20px auto 0;
  max-width: 350px;
}

.recover-password__form__input--holder {
  text-align: left;
  margin-bottom: 10px;
  width: 100%;
}

.recover-password__form__input--holder > input {
  width: 100%;
}

.recover-password__form__recover-button {
  margin-top: 10px;
  border-radius: 3px;
  width: 100%;
}

@media (min-width: 576px) {
  .recover-password__white-box {
    text-align: left;
    width: 93%;
    margin: 45px auto;
    padding: 40px 30px 60px;
  }
  .recover-password__form--holder {
    margin: 20px 0 0;
    max-width: unset;
  }
  .recover-password__form__input--holder {
    max-width: 350px;
    margin: 0 10px 0 0;
  }
  .recover-password__form__recover-button {
    max-width: 115px;
  }
}

@media (min-width: 768px) {
  .recover-password__white-box {
    width: 80%;
    margin: 90px auto 120px;
    padding: 50px 50px 80px;
  }
}

@media (min-width: 992px) {
  .recover-password__white-box {
    width: 80%;
    margin: 123px auto 200px;
    padding: 60px 70px 100px;
  }
}
