<div class="recover-password">
  <div class="recover-password__white-box">
    <div class="login-signup__title">Restablecer contraseña</div>
    <div class="login-signup__question">
      <span>Introduce tu email y te enviaremos las instrucciones</span>
    </div>

    <div class="recover-password__form--holder">
      <form [formGroup]="recoveryPasswordForm" (submit)="summitForm()">
        <div class="recover-password__form d-flex flex-wrap align-items-start">
          <div class="recover-password__form__input--holder">
            <input
              type="email"
              required
              formControlName="email"
              placeholder="Email"
            />
            <app-error-input
              *ngIf="
                recoveryPasswordForm.get('email').hasError('email') &&
                recoveryPasswordForm.get('email').touched
              "
              [msg]="'Email inválido'"
            ></app-error-input>
          </div>
          <div class="recover-password__form__recover-button">
            <app-button-loader
              [extend]="true"
              [type]="'submit'"
              [disabled]="recoveryPasswordForm.invalid"
              [showLoading]="reqInProg"
              [text]="'ENTRAR'"
            ></app-button-loader>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
