<!-- Respuestas legales content-->

<div class="container-fluid respuestas-legales-container">

  <div class="container navigator-back" *ngIf="level == 4">
      <a (click)="goBack()" href="javascript:;">
          <i class="fas fa-arrow-left"></i>
          <label class="volver-text">Volver</label>
      </a>
    </div>

  <div class="d-flex">
    <div class="p-0 btns-menu-container" *ngIf="(screenWidth >= 768 && level < 4) || (screenWidth < 768 && level < 3)">
      <!-- Menu Abogado -->
      <button *ngIf="!isCustomer" class="btn btn-light btn-menu" routerLinkActive="active" [routerLink]="['borradores']">Borradores</button>
      <button *ngIf="!isCustomer" class="btn btn-light btn-menu" routerLinkActive="active" [routerLink]="['enviadas']">Enviadas</button>
      <button *ngIf="!isCustomer" class="btn btn-light btn-menu" routerLinkActive="active" [routerLink]="['aceptadas']">Aceptadas</button>
      <button *ngIf="!isCustomer" class="btn btn-light btn-menu" routerLinkActive="active" [routerLink]="['rechazadas']">Rechazadas</button>
      <!-- Menu Usuario -->
      <button *ngIf="isCustomer" class="btn btn-light btn-menu" routerLinkActive="active" [routerLink]="['recibidas']">Recibidas</button>
      <button *ngIf="isCustomer" class="btn btn-light btn-menu" routerLinkActive="active" [routerLink]="['aceptadas']">Aceptadas</button>
      <button *ngIf="isCustomer" class="btn btn-light btn-menu" routerLinkActive="active" [routerLink]="['rechazadas']">Rechazadas</button>

      <div class="empty-space">
        <div class="empty-space-content"></div>
      </div>
    </div>
    <div class="router-container" [class.router-container-full]="(screenWidth >= 768 && level < 4) || (screenWidth < 768 && level < 3)">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>