<div class="container">
   <div class="row navigator-back">
      <a (click)="goBack()" [routerLink]="['/inbox/conversaciones', conversationId]" style="padding-left: 20px;">
         <i class="fas fa-arrow-left"></i>
         <label class="volver-text">Volver</label>
      </a>
   </div>

   <div class="wrap d-none d-md-block">
      <div class="modal-footer">
         <div class="container">
            <div class="left">
               <div class="row">
                  <div class="col-2 d-flex align-items-center justify-content-center">
                     <div *ngIf="conversation.destinatario?.tipo ===1">
                        <!-- cliente-->
                        <span *ngIf="!conversation.destinatario?.foto" class="round round-primary">{{conversation.destinatario?.nombre |
                              capitalize | slice:0:1}}</span>
                        <img *ngIf="conversation.destinatario?.foto" class="round"
                           src="assets/images/profiles/{{conversation.destinatario?.foto}}" alt="user">
                     </div>
                     <div *ngIf="conversation.destinatario?.tipo !==1">
                        <!-- abogado -->
                        <img *ngIf="!(conversation.destinatario?.foto)" class="round"
                           src="assets/images/user-pic-placeholder-abogado.png" alt="user">
                        <img *ngIf="conversation.destinatario?.foto" class="round"
                           src="assets/images/profiles/{{conversation.destinatario?.foto}}" alt="user">
                     </div>
                     <!-- <span *ngIf="!(conversation.destinatario?.foto)" class="round">{{conversation.destinatario?.nombre |
                          capitalize | slice:0:1}}</span> -->
                  </div>
                  <div class="col">
                     <div class="profile-header">
                        <div class="row">
                           <span>
                              {{conversation.destinatario?.nombre | capitalize}} {{conversation.destinatario?.apellidos |
                                capitalize}}
                           </span>
                        </div>
                        <div class="row">
                           <span class="normal-text pending-accept">
                              {{conversation?.asunto | capitalize}}
                           </span>
                        </div>
                     </div>
                  </div>
               </div>

               <!-- <div *ngIf="conversation.destinatario?.tipo ===1">   -->
               <!-- cliente-->
               <!-- <span *ngIf="!conversation.destinatario?.foto" class="round round-primary">{{conversation.destinatario?.nombre |
                          capitalize | slice:0:1}}</span>
                        <img *ngIf="conversation.destinatario?.foto" class="round" src="assets/images/profiles/{{conversation.destinatario?.foto}}"
                        alt="user">
                    </div>  
                  <span>
                  {{conversation.destinatario?.nombre | capitalize}} {{conversation.destinatario?.apellidos |
                  capitalize}}
                </span> -->
            </div>
            <div class="right">
               <small class="text-muted"><i>{{statusMsg}}</i></small>
               <button [disabled]="statusMsg" type="button" class="btn btn-secondary" (click)="saveDraft(htmlText)"
                  style="margin: 20px;">
                  <span>Guardar</span>
               </button>
               <button (click)="setResponse()" [routerLink]="['../tarifa']" [queryParamsHandling]="'merge'"
                  type="button" class="btn btn-primary">Siguiente</button>

            </div>
         </div>

         <!-- <div class="left">
          <span>
              {{conversation.destinatario?.nombre | capitalize}} {{conversation.destinatario?.apellidos |
              capitalize}}
            </span>
          
      </div> -->
         <!-- <div class="right">
          <button [disabled]="statusMsg" type="button" class="btn btn-secondary" (click)="saveDraft(htmlText)">
              <span>Guardar</span>
            </button>
            <button (click)="setResponse()" [routerLink]="['../tarifa']" [queryParamsHandling]="'merge'" type="button" class="btn btn-primary">Siguiente</button>
              
      </div>  -->
      </div>
      <div class="content content-editor">
         <div class="editor">
            <quill-editor (onContentChanged)="onSave$.next($event)" [(ngModel)]="htmlText"
               [placeholder]="'Escriba aquí...'" [style]="{border: 'none', 'margin-bottom': '70px'}"></quill-editor>
         </div>
      </div>
   </div>
</div>