<!-- despacho contacto -->
<div class="container-fluid px-0 order-lg-2">
  <div class="row">
    <div class="col-12 order-lg-2">
      <div class="container">
        <div class="font-weight-bold mb-4 mb-lg-0">Contacto</div>
        <!-- email & web-->
        <div class="row">
          <div class="col-12 col-lg-4 offset-lg-4 mb-sm-4 mb-lg-5">
            <div class="mb-4">
              <div class="mb-3">
                <span class="d-block text-muted small">Email</span>
                <span class="d-block">info@goicoaabogados.com</span>
              </div>
              <div>
                <span class="d-block text-muted small">Web</span>
                <a href="#" class="d-block font-weight-normal">goicoaabogados.com</a>
              </div>
            </div>
          </div>
        </div>

        <!-- oficinas -->
        <div class="row">
          <div class="col-12 col-lg-4 mb-5">
            <div class="row">
              <div class="col-5 col-lg-12 mb-2">
                <span class="font-weight-bold">Oficina A Coruña</span>
              </div>
              <div class="col-7 col-lg-12">
                <div class="mb-3">
                  <span class="d-block text-muted small">Dirección</span>
                  <span class="d-block">Rúa Merced, 4 local interior, 15003 A Coruña</span>
                </div>
                <div class="mb-3">
                  <span class="d-block text-muted small">Teléfono</span>
                  <span class="d-block">981 234 567</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 mb-5">
            <div class="row">
              <div class="col-5 col-lg-12 mb-2">
                <span class="font-weight-bold">Oficina Valladolid</span>
              </div>
              <div class="col-7 col-lg-12">
                <div class="mb-3">
                  <span class="d-block text-muted small">Dirección</span>
                  <span class="d-block">Rúa Merced, 4 local interior, 15003 Valladolid</span>
                </div>
                <div class="mb-3">
                  <span class="d-block text-muted small">Teléfono</span>
                  <span class="d-block">981 234 567</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 mb-5">
            <div class="row">
              <div class="col-5 col-lg-12 mb-2">
                <span class="font-weight-bold">Oficina Vigo</span>
              </div>
              <div class="col-7 col-lg-12">
                <div class="mb-3">
                  <span class="d-block text-muted small">Dirección</span>
                  <span class="d-block">Rúa Merced, 4 local interior, 15003 Vigo</span>
                </div>
                <div class="mb-3">
                  <span class="d-block text-muted small">Teléfono</span>
                  <span class="d-block">981 234 567</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mb-5 order-lg-1">
      <img src="https://snazzy-maps-cdn.azureedge.net/assets/1243-xxxxxxxxxxx.png?v=20170626083204" class="img-fluid">
    </div>
  </div>
</div>