<div class="modal-header">
  <div class="d-flex flex-column" style="flex: 1;">
    <div class="d-flex justify-content-between">
      <h4 class="modal-title">Estadísticas</h4>
      <button type="button" class="close pull-right" (click)="closeModal()">
        <i class="mdi mdi-close"></i>
      </button>
    </div>
  </div>
</div>
<div class="modal-body">
  <p>Los casos analizados no representan el total de casos del abogado/a, sino los que ha analizado Emérita Legal para calcular
    sus estadísticas. Actualmente hemos analizado un 20% del total de las resoluciones publicadas en los últimos siete años,
    cifra que iremos incrementando con el tiempo.
  </p>
  <br>
  <div class="d-flex justify-content-end w-100">
    <button type="button" class="btn btn-primary" (click)="closeModal()">Aceptar</button>
  </div>
</div>
