<div class="container">

   <p><strong>POL&Iacute;TICA DE COOKIES</strong></p>
   <h3>&nbsp;</h3>
   <p><strong>Uso de cookies en el sitio web</strong></p>
   <p><span style="font-weight: 400;">Utilizamos cookies propias y de terceros para mejorar nuestros servicios y
         mostrarle publicidad relacionada con sus preferencias mediante el an&aacute;lisis de sus h&aacute;bitos de
         navegaci&oacute;n. Si contin&uacute;a navegando, consideramos que acepta su uso.</span></p>
   <p><strong>&iquest;Qu&eacute; son las cookies?</strong></p>
   <p><span style="font-weight: 400;">Una cookie es un fichero que se descarga en su ordenador al acceder a
         determinadas p&aacute;ginas web. Las cookies permiten a una p&aacute;gina web, entre otras cosas, almacenar y
         recuperar informaci&oacute;n sobre los h&aacute;bitos de navegaci&oacute;n de un usuario o de su equipo y,
         dependiendo de la informaci&oacute;n que contengan y de la forma en que se utilice su equipo, pueden
         utilizarse para reconocer al usuario.</span></p>
   <p><strong>&iquest;Qu&eacute; tipos de cookies utiliza esta p&aacute;gina web?</strong></p>
   <p>&nbsp;</p>
   <ul>
      <li><strong><span style="font-weight: 400;">Cookies de an&aacute;lisis: Son aqu&eacute;llas que bien tratadas por
               nosotros o por terceros, nos permiten cuantificar el n&uacute;mero de usuarios y as&iacute; realizar la
               medici&oacute;n y an&aacute;lisis estad&iacute;stico de la utilizaci&oacute;n que hacen los usuarios del
               servicio ofertado. Para ello se analiza su navegaci&oacute;n en nuestra p&aacute;gina web con el fin de
               mejorar la oferta de productos o servicios que le ofrecemos.</span></strong></li>
   </ul>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">Esta p&aacute;gina web utiliza las cookies de Google Analytics y Hotjar.</span></p>
   <p>&nbsp;</p>
   <ul>
      <li><strong><span style="font-weight: 400;">Cookies publicitarias: Son aqu&eacute;llas que, bien tratadas por
               nosotros o por terceros, nos permiten gestionar de la forma m&aacute;s eficaz posible la oferta de los
               espacios publicitarios que hay en la p&aacute;gina web, adecuando el contenido del anuncio al contenido
               del servicio solicitado o al uso que realice de nuestra p&aacute;gina web. Para ello podemos analizar
               sus h&aacute;bitos de navegaci&oacute;n en Internet y podemos mostrarle publicidad relacionada con su
               perfil de navegaci&oacute;n.</span></strong></li>
   </ul>
   <p>&nbsp;</p>
   <p><span style="font-weight: 400;">Esta p&aacute;gina web utiliza las cookies de Facebook.</span></p>
   <h3>&nbsp;</h3>
   <p><strong>&iquest;C&oacute;mo puede usted permitir, bloquear o eliminar las cookies que utiliza este sitio web?</strong></p>
   <p><span style="font-weight: 400;">Puede usted permitir, bloquear o eliminar las cookies instaladas en su equipo
         mediante la configuraci&oacute;n de las opciones del navegador instalado en su ordenador.</span></p>
   <p><span style="font-weight: 400;">Por ejemplo:</span></p>
   <p><span style="font-weight: 400;">-Para m&aacute;s informaci&oacute;n sobre Chrome pulse aqu&iacute;: </span><a
         href="http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647"><span style="font-weight: 400;">http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647</span></a></p>
   <h3>&nbsp;</h3>
   <p><span style="font-weight: 400;">-Para m&aacute;s informaci&oacute;n sobre Firefox pulse aqu&iacute;:</span></p>
   <p><a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we"><span style="font-weight: 400;">http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we</span></a></p>
   <h3>&nbsp;</h3>
   <p><span style="font-weight: 400;">-Para m&aacute;s informaci&oacute;n sobre Explorer pulse aqu&iacute;:</span></p>
   <p><a href="http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9"><span style="font-weight: 400;">http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9</span></a></p>
   <h3>&nbsp;</h3>
   <p><span style="font-weight: 400;">-Para m&aacute;s informaci&oacute;n sobre Safari pulse aqu&iacute;:</span></p>
   <p><a href="http://support.apple.com/kb/ph5042"><span style="font-weight: 400;">http://support.apple.com/kb/ph5042</span></a></p>
</div>