<div class="contenedor d-flex justify-content-center align-items-center">
  <div class="card">
    <div *ngIf="errorMsg" class="card-title d-flex flex-column justify-content-center">
      <h3>
        Registro incompleto
      </h3>
    </div>
    <div *ngIf="!errorMsg" class="card-title d-flex flex-column justify-content-center">
      <h3>
        Registro completado
      </h3>
    </div>
    <div *ngIf="errorMsg" class="card-block">
      {{errorMsg}}
    </div>
    <div *ngIf="!errorMsg" class="card-block">
      Bienvenido!
    </div>
    <div *ngIf="!errorMsg" class="d-flex justify-content-center">
      <button *ngIf="!redirectUrl" [routerLink]="['/']" type="button" name="btn" class="btn btn-primary">Continuar</button>
      <button *ngIf="redirectUrl" [routerLink]="['/', redirectUrl]" type="button" name="btn" class="btn btn-primary">Continuar</button>
    </div>
  </div>
</div>
