<article>
	<section class="section-profile">
		<div class="mb-1 mb-md-4 mb-lg-5">
			<app-profile-summary [sticky]="headerSticky" (talkButtonAccessChange)="onTalkButtonAccessChange($event)" (talkButtonIsRegistered)="onTalkButtonIsRegistered($event)"
			 (talkButtonHasQueries)="onTalkButtonHasQueries($event)"></app-profile-summary>
		</div>

		<app-profile-details></app-profile-details>

		<section id="footerScroll" class="container-fluid fixed-bottom d-md-none" *ngIf="showFooterButtons">
			<div class="container">
				<div class="row">
					<div class="col-6 shared-button d-flex align-items-center justify-content-center" [ngClass]="{'show-shared-links': showSharedLinksMob}"
					 (click)="showSharedLinksMob = !showSharedLinksMob">
						<a href="javascript:void(0)">Compártelo</a>
						<div class="card py-3 px-4">
							<div class="mb-2">Comparte este perfil</div>
							<div style="width: 150px;">
								<div class="d-flex justify-content-between">
									<app-shared-link [socialNetwork]="'fb'"></app-shared-link>
									<app-shared-link [socialNetwork]="'tw'"></app-shared-link>
									<app-shared-link [socialNetwork]="'in'"></app-shared-link>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 text-center">
						<app-profile-talk-button [mode]="mode" [isRegistered]="talkButtonIsRegistered" [hasQueries]="talkButtonHasQueries" [access]="talkButtonAccess"></app-profile-talk-button>
					</div>
				</div>
			</div>
		</section>
	</section>
</article>