<form
  [formGroup]="resetPasswordForm"
  class="form-horizontal form-material"
  id="resetPasswordForm"
  novalidate
>
  <h3 class="box-title m-b-20">Cambiar Contraseña</h3>
  <div class="form-group ">
    <div class="col-xs-12">
      <input
        (keypress)="setEmtpyPassConfirm()"
        formControlName="password"
        class="form-control"
        type="password"
        required=""
        placeholder="Contraseña"
      />
      <app-error-input
        *ngIf="
          resetPasswordForm.get('password').hasError('required') &&
          resetPasswordForm.get('password').touched
        "
        [msg]="'Campo requerido'"
      ></app-error-input>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <input
        formControlName="password_confirm"
        class="form-control"
        type="password"
        required=""
        placeholder="Confirma Contraseña"
      />
      <app-error-input
        *ngIf="
          resetPasswordForm
            .get('password_confirm')
            .hasError('mismatchedPassword')
        "
        [msg]="'Las contraseñas no coinciden'"
      ></app-error-input>
    </div>
  </div>
  <div class="form-group text-center m-t-20">
    <div class="col-xs-12">
      <app-button-loader
        [disabled]="!resetPasswordForm.valid"
        [showLoading]="reqInProg"
        [text]="'Cambiar'"
        (emitClicked)="onReset($event)"
      ></app-button-loader>
    </div>
  </div>
  <div *ngIf="errorMsg != ''" class="row alert alert-rounded  alert">
    <div class="text-danger">{{ errorMsg }}</div>
  </div>
</form>
