<div class="features">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="row">
        <div class="col-12">
          <div class="features__title">
            Toma tus decisiones legales apoyándote en datos.
          </div>
        </div>
        <div class="col-12">
          <div class="features__sub-title">
            Te damos <b>la información que necesitas</b> para tomar las
            <b>decisiones más acertadas</b> gracias a nuestra herramienta de
            analítica judicial, que extrae información de millones de casos
            judiciales
            <a class="highlighted" href="#">Descubre nuestro método</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 d-lg-flex align-items-lg-center">
      <div class="features__statistic-holder">
        <img title="Estadísticas judiciales" src="/assets/images/landing/features/statistic.png" alt="Tipos de clientes y tasa de éxito abogados" />
      </div>
    </div>
  </div>
</div>
