button {
  background-color: rgba(255, 139, 52, 0.1) !important;
  margin: 14px auto;
}

button span {
  line-height: normal;
  letter-spacing: 0.5px;
}

button span.short-size {
  letter-spacing: 0.2px;
  font-size: 14px;
}

@media (max-width: 350px) {
  button span.short-size {
    letter-spacing: -.3px;
    font-size: 13px;
  }
}