<router-outlet></router-outlet>
<div class="content">
  <section id="main" style="box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3)">
    <div class="container">
      <div class="title row">
        <div class="col-12">
          <h1>Buscamos a los mejores abogados</h1>
          <h2> Bienvenido a la única red de especialistas reales </h2>
          <h2>¿Eres uno de ellos?</h2>
          <h3> Únete a Emérita Legal y consigue visibilidad, diferenciación y posicionamiento. </h3>
          <div class="row">
            <div class="col-8 offset-2">
              <a href="javascript:void(0)" data-target="#modal-peticion-profesional" data-toggle="modal" class="btn btn-now">Quiero unirme a la red</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="d1">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5 att">
          <h3>
                        <span class="yellow">7 DE CADA 10</span> CLIENTES TE BUSCAN ONLINE
                    </h3>
          <p>
            Aún cuando te haya recomendado algún conocido, familiar o antiguo cliente, la mayoría de tus potenciales clientes te buscan en internet para conocer tu trayectoria, formarse una primera impresión, compararte con otros y decidir finalmente si contratarte.
          </p>
        </div>
        <div class="col-12 col-md-6 offset-md-1 features">
          <div class="row">
            <div class="col-12 features-col grey">
              <h4>
                                Haz visible tu perfil
                            </h4>
              <p>
                Aumenta el alcance de tu reputación reuniendo toda la información de tu trayectoria profesional en único lugar, tu perfil profesional en Emérita Legal.
              </p>
            </div>
            <div class="col-12 features-col">
              <h4>
                                Destaca por méritos propios
                            </h4>
              <p>
                Comparamos tus estadísticas con las de todos los abogados de España, permitiéndote destacar por lo que haces y por cómo lo haces.

              </p>
            </div>
            <div class="col-12 features-col grey">
              <h4>
                                Certifica tu especialidad
                            </h4>
              <p>
                Te proporcionamos una referencia contrastada con datos, lo que reforzará tu credibilidad online y te ayudará a diferenciarte de tu competencia.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="d2">
    <div class="row">
      <div class="col-12 col-md-7 d-title">
        <div class="row">
          <div class="container">
            <div class="col-12 col-md-7">
              <h2>RENTABILIZA TU VALOR ONLINE</h2>
              <h3>VENDEMOS CALIDAD. TU TRABAJO LO VALE.</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5 d-list">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-4 col-md-2">

                  <i class="material-icons">trending_up</i>
                </div>
                <div class="col-md-10 col-8">
                  <h3>
                                        CAPTACIÓN ESPECIALIZADA
                                    </h3>
                  <p>
                    ¿Quieres ampliar tu red de clientes? Te ayudamos. Date de alta en el servicio de consultas online desde tu perfil.

                  </p>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-md-2 col-4">

                  <i class="material-icons">autorenew</i>
                </div>
                <div class="col-md-10 col-8">
                  <h3>
                                        INTERACCIÓN DIRECTA
                                    </h3>
                  <p>
                    Los potenciales clientes que te busquen o busquen especialistas en tu materia podrán hablar contigo directamente, desde tu perfil, para explicarte su problema.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-md-2 col-4">

                  <i class="material-icons">zoom_in</i>
                </div>
                <div class="col-md-10 col-8">
                  <h3>
                                        LA CALIDAD TIENE UN PRECIO
                                    </h3>
                  <p>
                    Serás tu quien fijes el precio de tus respuestas legales. Cuando tengas claro el problema fija el precio y envía tu respuesta legal, deberán hacer el pago por adelantado para poder verla. Además, podrás incluir un presupuesto si lo consideras oportuno.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="precios">
    <div class="container text-center">
      <div class="row">
        <div class="col-12">
          <header class="text-center">
            <h2 class="section-heading-underline text-center">NUESTRAS CONDICIONES
                            <h5>CLARAS Y SENCILLAS</h5>
                        </h2>
          </header>

        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 text-center block">
          <h3><b>ACCESO EXCLUSIVO</b></h3>
          <hr>
          <p>Queremos construir la mejor red de abogados, por eso sólo invitamos a los mejores especialistas en cada materia por provincias, basándonos en su experiencia judicial y en sus estadísticas.</p>
        </div>
        <div class="col-12 col-md-4">
          <img src="assets/images/iphone.png" alt="">
        </div>
        <div class="col-12 col-md-4 text-center block">
          <h3><b>POLÍTICA DE PRECIOS</b></h3>
          <hr>
          <p>Si decides aceptar nuestra invitación, tanto el acceso como la permanencia en nuestra red es completamente gratuito, para siempre. Consulta las condiciones de los servicios complementarios cuando vayas a darte de alta.</p>
        </div>

        <hr>
      </div>
    </div>
  </section>
  <section id="faq" class="faq">
    <div class="container">
      <header>
        <h2 class="section-heading-underline">POR ABOGADOS PARA ABOGADOS
                </h2>
      </header>
      <div class="faq-list row m-t-40">
        <div class="col-12">
        </div>
        <br>
        <div class="col-12 col-md-4">

          <h4 class="faq-q">SÓLO CALIDAD LEGAL</h4>
          <p class="faq-a">Queremos poner fin a los servicios que reducen el valor de la profesión y conducen a una diferenciación basada en precios, promoviendo soluciones de calidad basadas en información real.</p>

        </div>
        <div class="col-12 col-md-4">

          <h4 class="faq-q">TRANSPARENCIA TOTAL</h4>
          <p class="faq-a">No basta con decir que eres el mejor abogado en tu especialidad, la clave es demostrarlo. Hacemos públicas las estadísticas de todos los abogados de España para que tus clientes se convenzan por si mismos.</p>

        </div>
        <div class="col-12 col-md-4">

          <h4 class="faq-q">INNOVACIÓN LEGALTECH</h4>
          <p class="faq-a">Tecnología legal que te permite destacar, colaborar, captar clientes y mucho más. Diseñada por abogados para abogados. No te quedes atrás, súbete al legaltech y lleva tu reputación y la de tu despacho al siguiente nivel.</p>

        </div>
      </div>
    </div>
  </section>
  <section id="medios">
    <div class="container">
      <header>
        <p> Hablan de nosotros: </p>
      </header>
      <div class="row">
        <div class="col-12 col-md-3">
          <div class="media-block">
            <div class="img-block"><img src="assets/images/logo-saladestartups.jpg" alt="Dinahosting"></div>
            <label for="">Sala de Startups</label>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="media-block">
            <div class="img-block"><img src="assets/images/logo-dinahosting.png" alt="Dinahosting"></div>
            <label for="">Dinahosting</label>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="media-block">
            <div class="img-block"><img src="assets/images/logo-eoi.jpg" alt="Loogic"></div>
            <label for="">EOI</label>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="media-block">
            <div class="img-block"><img src="assets/images/logo-logic.jpg" alt="Loogic"></div>
            <label for="">Loogic</label>
          </div>
        </div>
      </div>

      <div class="row m-t-40">
        <div class="col-12 col-md-3">
          <div class="media-block">
            <div class="img-block"><img src="assets/images/logo-cise.png" alt="CISE"></div>
            <label for="">CISE</label>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="media-block">
            <div class="img-block"><img src="assets/images/logo-yuzz.jpg" alt="Yuzz" align="middle"></div>
            <label for="">Yuzz</label>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="media-block">
            <div class="img-block"><img src="assets/images/logo-santander.jpg" alt="Banco Santander" align="middle"></div>
            <label for="">Banco Santander</label>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="media-block">
            <div class="img-block"><img src="assets/images/logo-todostartups.png" alt="EOI" align="middle"></div>
            <label for="">TodoStartups</label>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div id="modal-peticion-profesional" class="modal fade" role="dialog">
  <app-modal-peticion-profesional></app-modal-peticion-profesional>
</div>
