<form id="form-edu" [formGroup]="eduForm" class="form-horizontal">
   <div class="form-group">
      <input class="form-control" placeholder="título*" name="titulacion" formControlName="titulacion" required />
      <app-error-input *ngIf="
                    eduForm.get('titulacion').hasError('required') &&
                    (eduForm.get('titulacion').dirty ||
                      eduForm.get('titulacion').touched)
                  "
         [msg]="'Campo obligatorio'"></app-error-input>
   </div>
   <div class="form-group">
      <input class="form-control" placeholder="Institución*" name="institucion" formControlName="institucion" required />
      <app-error-input *ngIf="
                    eduForm.get('institucion').hasError('required') &&
                    (eduForm.get('institucion').dirty ||
                      eduForm.get('institucion').touched)
                  "
         [msg]="'Campo obligatorio'"></app-error-input>
   </div>
   <div class="form-group">
      <label>Inicio</label>
      <div formGroupName="fechaInicio" class="d-flex">
         <select class="form-control" name="mes-inicio" formControlName="month">
            <option value="">Mes</option>
            <option *ngFor="let monthOption of monthOptions" [value]="monthOption.value">{{monthOption.label}}</option>
         </select>
         <select class="form-control" name="ano-inicio" formControlName="year">
            <option value="">Año</option>
            <option *ngFor="let year of yearsOptions" [value]="year">{{ year }}</option>
         </select>
      </div>
   </div>
   <div class="form-group">
      <label>Fin*</label>
      <div formGroupName="fechaFin" class="d-flex">
         <select class="form-control" name="mes-fin" formControlName="month" required>
            <option value="">Mes</option>
            <option *ngFor="let monthOption of monthOptions" [value]="monthOption.value">{{monthOption.label}}</option>
         </select>
         <select class="form-control" name="ano-fin" formControlName="year" required>
            <option value="">Año</option>
            <option *ngFor="let year of yearsOptions" [value]="year">{{ year}}</option>
         </select>
      </div>
      <div class="d-flex flex-column">
         <app-error-input *ngIf="
                      (eduForm.get('fechaFin.month').hasError('required') ||
                        eduForm.get('fechaFin.year').hasError('required')) &&
                      ((eduForm.get('fechaFin.month').dirty &&
                        eduForm.get('fechaFin.year').dirty) ||
                        (eduForm.get('fechaFin.year').touched &&
                          eduForm.get('fechaFin.month').touched))
                    "
            [msg]="'Campo obligatorio'"></app-error-input>
         <app-error-input *ngIf="
                      eduForm.hasError('coherentDate') &&
                      ((eduForm.get('fechaFin.month').dirty &&
                        eduForm.get('fechaFin.year').dirty) ||
                        (eduForm.get('fechaFin.year').touched &&
                          eduForm.get('fechaFin.month').touched))
                    "
            [msg]="'Fecha incorrecta'"></app-error-input>
      </div>
   </div>
   <div class="form-group">
      <label class="form-input-checkbox">
         <input type="checkbox" id="actu_edu-{{uniqueId}}" formControlName="periodo_end_actualidad_edu" name="periodo_end_actualidad" />
         <label for="actu_edu-{{uniqueId}}"> Actualmente trabajo aquí </label>
         <span class="checkmark"></span>
      </label>
   </div>
</form>